{{! sample code for the next page the user is taken to after logging in }}

<h2 class="text-center">The place for Podcast enthusiasts.
  <br />
  <h3>Love it? Hate it? Rate it!</h3>
</h2>

<div class="card-group">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Search Podcasts + Reviews</h5>
          <p class="card-text">
            Find existing reviews and favorites to explore using the Spotify
            Database.</p>
          <div class="text-center py-3 col-12">
            <button
              type="submit"
              class="submitBtn btn btn-md btn-dark"
            >Search</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Create a Podcast Review</h5>
          <p class="card-text">Share a review on a podcast you love... or just
            love to hate.</p>
          <div class="py-3 text-center col-12">
            <button
              type="submit"
              class="submitBtn btn btn-md btn-dark"
            >Create</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">My Reviews </h5>
          <p class="card-text">View, edit, or delete your existing podcast
            reviews.</p>
          <div class="py-3 text-center col-12">
            <button type="submit" class="submitBtn btn btn-md btn-dark">My
              Reviews</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Share with friends</h5>
          <p class="card-text">Podcast of the Month club, anyone? Share your
            reviews with a friend (or many!)</p>
          <div class="py-3 text-center col-12">
            <button
              type="submit"
              class="submitBtn btn btn-md btn-dark"
            >Share</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>