{{! sample code for the next page the user is taken to after logging in }}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
/>

<div class="flex-row container justify-content-center">
  <div class="col-md-6">

    <h2 class="text-center mt-5">The place for Podcast enthusiasts.</h2>

    <div class="g-2 p-1 m-1">
      <div class="col">
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title p-2">Search Podcasts + Reviews</h5>

            <a href="/podcast" id="searchButton" class="submitBtn btn btn-md">
              <i
                class="bi bi-search text-center"
                alt="search-image"
                style="font-size: 1rem; color: #009ecc"
              ></i>
              Search</a>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card bg-dark">

          <div class="card-body">
            <h5 href="/review" class="card-title p-2">Create a Podcast Review</h5>

            <a href="/review" id="createButton" class="submitBtn btn btn-md">
              <i
                class="bi bi-plus-circle text-center"
                alt="search-image"
                style="font-size: 1.10rem; color: #009ecc"
              ></i>
              Create</a>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title p-2">My Reviews </h5>

            <a href="/view" id="updateButton" class="submitBtn btn btn-md">
              <i
                class="bi bi-pencil-fill text-center"
                alt="share-image"
                style="font-size: 1rem; color: #009ecc"
              ></i>
              Update</a>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title p-2">Share with friends</h5>

            <a
              href="/share"
              id="shareButton"
              class="submitBtn btn btn-md"
              style="color:white"
            >
              <i
                class="bi bi-share-fill text-center"
                alt="share-image"
                style="font-size: 1rem; color: #009ecc"
              ></i>
              Share</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{! <script src="/js/homepage.js"></script> }}