<div class='flex-row container justify-content-center'>
  <div class='col-md-6'>
    <div class="card card-body">Sign Up
      <form class="form signup-form">
        <div class="mb-3">
          <label for="username-signup" class="form-label">Userame</label>
          <input type="text" class="form-control" id="username-signup" />
        </div>
        <div class="mb-3">
          <label for="password-signup" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-signup" />
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a class="btn" style="color:#009ecc" href="/login">Login</a>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>