:root {
  --primary: black;
  --secondary: #30332e;
  --tertiary: #009ecc;
  --light: #e3e4e3;
  --dark: #30332e;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

@font-face {
  font-family: "LouisGeorgeCafe";
  src: url("/assets/louis_george_caf/Louis_George_Cafe.ttf") format("truetype");
  src: url("/assets/louis_george_caf/Louis_George_Cafe_Bold.ttf")
    format("truetype");
}

body {
  font-family: "LouisGeorgeCafe" !important;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
}

a {
  color: var(--light);
  background-color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: var(--light);
}

header {
  padding: 40px;
  justify-content: center;
  text-align: center;
  background: var(--light);
  color: var(--light);
}

.backgroundImg {
  max-height: 20vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--dark);
  background-color: var(--tertiary);
  text-decoration: none;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: rgb(48, 51, 46, 0.3);
  color: var(--dark);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: lighter;
  color: #009ecc;
}

.card-text {
  font-family: "LouisGeorgeCafe" !important;
  color: #30332e;
}

/* LAYOUT */

.login-form, .signup-form{
  color:black;
  text-align:left;
}
